body {
    background-color: rgb(120, 199, 236);
    background-image: url('money.jpg');
    background-size: cover;
    
}


@keyframes back {
    from {background-color: black;}
    to {background-color: aqua;}
}